<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <!-- <div class="navbar-header">
            <a href="#" class="navbar-brand">Registration Form</a>
        </div> -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right navbar-light">
                <li><a  routerLink="/" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Register</a></li>
                <li><a routerLink="login" routerLinkActive="active">Login</a></li>
            </ul>
        </div>
    </div>
</nav>